@charset "utf-8";
.wrapper{
  background: #f3f3f3;
}
.main-api{
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
}
.api-l{
  width: 260px;
  float: left;
}
.api-r{
  width: 720px;
  float: right;
}

.api-loc-l {
  padding: 20px;
  background: #76B3E9;
  span{
    display: block;
    color: #FFFFFF;
  }
  .loc{
    display: inline-block;
    font-size: 26px;
    background: url(../images/loc.png) no-repeat right center;
    padding-right: 28px;
    width: 55px;
    a{
      color: white;
    }
  }
}

.api-num-box{
  padding: 30px 20px;
  background: #CCE4EE;
  height: 59px;
  position: relative;
  span{
    color: #FFFFFF;
  }
  .fontsize14{
    font-size: 14px;
  }
  .fontsize44{
    font-size: 44px;
  }
  //分享框
  .share{
    float: right;
    margin-top: 20px;
    height: 50px;
    .share-box{
      position: absolute;
      left: 248px;
      width: 154px;
      z-index: 100;
      top: 45px;
      border: solid #dddddd 1px;
      background: #fff;
      display: none;
    }
    .fenxiang{
      height: 20px;
      text-align: center;
      border-radius: 2px;
      background: url(../images/share.png) no-repeat 6px center #FFFFFF;
      padding-left: 26px;
      padding-right: 10px;
      line-height: 20px;
      display: block;
      width: 28px;
    }
  }
}

.api-l table tr td{
  color: #fff;
  font-size: 14px;
  width: 130px;
  background: #76B3E9;
  text-align: center;
  border-bottom: #E1E1E1 1px solid;
  border-right: #E1E1E1 1px solid;
  height: 30px;
  line-height: 30px;
}

.modhead{
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}
.modtitle{
  float: left;
  font-size: 16px;
  border-bottom: 1px solid #f3f3f3;
  width: 100%;
  a{
    color: #2498FF;
    line-height: 40px;
  }
}

.aqi-box{
  background: #FFFFFF;
}
.cityaqi-box{
  background: #fff;
  margin-top: 20px;
}


.cityinfo p{
  font-size: 12px;
  float: left;
  line-height: 30px;
}
.cityinfo span{
  font-size: 12px;
  float: right;
  padding-left: 15px;
  line-height: 30px;
}


.api-row3-l{
  float: left;
  width: 490px;
  background: #FFFFFF;
  margin-top: 20px;
}
.api-row3-r{
  float: right;
  width: 490px;
  background: #FFFFFF;
  margin-top: 20px;
}
.rank-box table{
  width: 450px;
}
.rank-box table tr td{
  width: 25%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.rank-box .table-title td{
  background: #f1f1f1;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
}
.rank-box tr.bg{
  background: #fcfbfb;
}
.rank-box table tr td.rank1{
  background: url(../images/rank1.png) no-repeat center center;
  color: #FFFFFF;
}
.rank-box table tr td.rank2{
  background: url(../images/rank2.png) no-repeat center center;
  color: #FFFFFF;
}
.rank-box table tr td.rank3{
  background: url(../images/rank3.png) no-repeat center center;
  color: #FFFFFF;
}
.rank-box table tr td.rank4{
  background: url(../images/rank4.png) no-repeat center center;
}

.ranktitle-box{
  padding: 0 20px;
}
.rank-box{
  padding: 0 20px 20px 20px;
}

.ranktitle-l{
  float: left;
  font-size: 16px;
  color: #2498FF;
  height: 40px;
  line-height: 40px;
}
.ranktitle-r{
  float: right;
  height: 40px;
  line-height: 40px;
}
.ranktitle-r select{
  width: 70px;
  height: 24px;
  text-align: center;
  border: #F3F3F3 1px solid;
}


/*表格展示长宽*/
.e_chart{
  margin: 10px auto 0;
}
.e_chart_con {
  margin: 0 auto 20px;
  width: 720px;
  height: 247px;
}



//new stylesheet by gao li
.cityaqi{
  height: 680px;
  background: url(../images/cityaqi-bg.jpg) no-repeat center center;
  ul{
    position: relative;
    li{
      position: absolute;
      padding: 5px 10px;
      color: white;
      opacity: .85;
      border-radius: 3px;
      cursor: pointer;
      &:hover{
        opacity: 1;
      }
      &#nanping{
        top: 200px;
        left: 476px;
      }
      &#sanming{
        top: 310px;
        left: 376px;
      }
      &#longyan{
        top: 416px;
        left: 348px;
      }
      &#ningde{
        top: 197px;
        left: 591px;
      }
      &#fuzhou{
        top: 295px;
        left: 591px;
      }
      &#putian{
        top: 395px;
        left: 557px;
      }
      &#quanzhou{
        top: 465px;
        left: 528px
      }
      &#xiamen{
        top: 506px;
        left: 506px;
      }
      &#zhangzhou{
        top: 516px;
        left: 389px;
      }
      &#pingtan{
        top: 371px;
        left: 705px;
      }
    }
  }
}

//色卡
.color-1{
  background: #63D416;
}
.color-2{
  background: #FFCC00;
}
.color-3{
  background: #FF8A00;
}
.color-4{
  background: #F7000C;
}
.color-5{
  background: #90024C;
}
.color-6{
  background: #600031;
}

.bottom-bg{
  padding: 5px 20px 15px;
  width: 680px;
  ul{
    width: 700px;
    li{
      float: left;
      margin-right: 15px;
      display: inline-block;
      cursor: help;
      position: relative;
      span {
        display: inline-block;
        &.des{
          font-size: 15px;
          line-height: 25px;
          height: 25px;
          font-family: "微软雅黑", "Lucida Grande", Tahoma, serif;
          vertical-align: top;
        }
        &.col-box{
          border-radius: 3px;
          width: 50px;
          height: 25px;
        }
      }
      .lev-detail{
        position: absolute;
        padding: 10px;
        background: #edf7fb;
        border: 1px solid #95d9fb;
        bottom: 45px;
        width: 220px;
        display: none;
        .title{
          color: #666;
          font-size: 14px;
          font-family: "微软雅黑", "Lucida Grande", Tahoma, serif;
          b{
            font-weight: normal;
            font-size: 14px;
            color: #666;
            line-height: 20px;
            display: block;
          }
          span{
            display: block;
            line-height: 25px;
          }
        }
        div.des{
          font-size: 14px;
          color: #666;
          font-family: "微软雅黑", "宋体", "Arial Unicode MS", "Times New Roman", serif;
          line-height: 25px;
        }
        div.arrow{
          background: url(../images/arr.png) no-repeat;
          width: 14px;
          height: 13px;
          display: block;
          position: absolute;
          bottom: -13px;

        }
      }
      .detail-1{
        div.arrow{
          left: 33px;
        }
      }
      .detail-2{
        div.arrow{
          left: 37px;
        }
      }
      .detail-3{
        left: 30px;
        div.arrow{
          left: 50px;
        }
      }
      .detail-4{
        left: 46px;
        div.arrow{
          left: 33px;
        }
      }
      .detail-5{
        right: -30px;
        div.arrow{
          right: 46px;
        }
      }
      .detail-6{
        right: 0;
        div.arrow{
          right: 18px;
        }
      }
    }
  }
}

